/* css/style.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.background-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #aef008, #f84f20, #0d071a, #0b510a,#f408ec,#0e0d0d);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    top: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    max-width: 400px;
}

/* Navigation Bar */
#nav-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-sub {
    margin: 0 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-sub.active .nav-link {
    background-color: rgba(255, 255, 255, 0.3);
}